.box{
	width:960px;
	margin:300px auto;
	
	overflow:hidden;
	
}
.inbox{
	width:520px;
	height:200px;
	float:left;
	
}
p{
	
	text-align:center;
	font:bold 3em/3em play;
	animation-name:word;
	animation-duration:2s;
	animation-delay:1s;
	animation-iteration-count:infinite;
}
.circle{
	width:220px;
	height:200px;
	border-radius:50%;
	background:deepskyblue;
	float:left;
	animation-name:anime;
	animation-duration:2s;
	animation-delay:2s;
	animation-iteration-count:infinite;
	
}
.c2{
	float:right;
	
}
@keyframes anime{
	0%{background:deepskyblue}
	50%{background:white}
	100%{background:deepskyblue}
	
}
@keyframes word{
	0%{color:black}
	50%{color:white}
	100%{color:black}
	
}





















